<div id="reservation" class="row">
  <div ng-class="{'col-md-9': vm.editEnabled}" class="col-xs-12">
    <article>
      <h3>{{vm.reservation.date | date: 'dd/MM/y'}} {{vm.reservation.time | time}}</h3>
      <ul>
        <li class="label label-default tag" ng-repeat="(id, tag) in vm.reservation.tags">
          {{tag.text}} <a ng-if="vm.editEnabled" ng-disabled="vm.loading" ng-click="vm.deleteTag(tag.id)">x</a>
        </li>
      </ul>
      <h1 class="title">{{vm.editEnabled ? vm.edition.title : vm.reservation.title}}</h1>
      <!--<h3 class="description">{{vm.editEnabled ? vm.edition.description : vm.reservation.description}}</h3>-->
      <p class="body">{{vm.editEnabled ? vm.edition.body : vm.reservation.body}}</p>
    </article>
    <div class="comments" ng-if="vm.reservation.id">
      <h4>Comments</h4>
      <ul>
        <li class="alert alert-info" ng-repeat="(id, comment) in vm.reservation.comments">
          <p>
            <div>
              <a ng-show="vm.currentUser.id === comment.creation_user" class="text-success" ng-disabled="vm.loading"
              ng-click="vm.editComment($index, comment.id)"><strong>edit</strong></a>
               <span ng-show="vm.currentUser.id === comment.creation_user"> - </span>
              <a ng-show="vm.currentUser.id === comment.creation_user" ng-disabled="vm.loading"
              ng-click="vm.deleteComment(comment.id)"><strong>delete</strong></a>
            <div>
            <strong>{{comment.floor}}° {{comment.department | department}} | {{comment.first_name}} {{comment.last_name}}</strong>
            <span> | {{comment.creation_timestamp | date: 'dd/MM/y HH:mm'}}</span>
            <br>
            <strong class="comment-text">{{comment.text}} </strong>
            <div class="comment-edit" ng-if="vm.editableComment == $index">
              <input class="form-control" ng-model="vm.editableCommentText" type="text" />
              <button ng-disabled="vm.loading" ng-click="vm.updateComment(comment.id)" class="btn btn-default">Save</button>
            </div>
          </p>
        </li>
      </ul>
      <h5>New comment</h5>
      <input class="form-control new-comment" type="text" ng-model="vm.newComment" />
      <div>
        <button ng-disabled="vm.loading" ng-click="vm.saveComment()" ng-disabled="!vm.newComment.length" class="btn btn-default">Add comment</button>
      </div>
    </div>
  </div>
  <div ng-if="vm.editEnabled" class="col-md-3">
    <div class="content-edition clearfix">
      <h5>Edit content</h5>
      <label>Title</label>
      <input class="form-control" type="text" ng-model="vm.edition.title"/>
      <div class="form-group" ng-class="{'has-error': !vm.reservationValidity}">
        <label>Date</label>
        <input class="form-control" type="date" ng-model="vm.edition.date"/>
        <label>From - To</label>
        <div class="dual-selects">
          <select class="form-control" ng-model="vm.edition.from_time" ng-options="time + ':00 hs' for time in vm.times">
          </select>
          <select class="form-control" ng-model="vm.edition.to_time" ng-options="time + ':00 hs' for time in vm.times">
          </select>
        </div>
        <label>Space</label>
        <select class="form-control"
        ng-model="vm.edition.space"
        ng-options="value.id as value.text for (key, value) in vm.spaces"></select>
      </div>
      <small ng-show="!vm.reservationValidity" class="text-danger">This date and time are already taken</small>
      <label>Description</label>
      <textarea class="form-control" type="text" ng-model="vm.edition.description"></textarea>
      <!--
      <label>Body</label>
      <textarea class="form-control" ng-model="vm.edition.body"></textarea>-->
      <button ng-disabled="vm.loading || !vm.reservationValidity" ng-click="vm.saveReservation()" ng-disabled="!vm.reservationValidity" class="btn btn-primary col-xs-12">Save</button>
    </div>
    <div>
      <h5>Tags</h5>
      <select ng-selected="$last"
              class="form-control"
              ng-options="tag as tag.text for tag in vm.filteredTags track by tag.id"
              ng-model="vm.selectedTag"></select>
      <button ng-disabled="vm.loading || vm.filteredTags[0] || !vm.reservation.id" ng-click="vm.setTag()" class="btn btn-default pull-right">Add Tag</button>
    </div>
  </div>
</div>
